<script src='/assets/jquery.transit.min.js'></script>
<script src="/assets/toggle.js"></script>

<div>
	<% @song.music_sheets.each do |sheet| %>
			<% if sheet.sheet_file_content_type == "application/pdf" %>
				<div class="sheet">
					<%= link_to image_tag("/images/adobe.jpg"),"#", data: {:'reveal-id' => 'sheet_shown', :params => sheet}, :id => 'show_me' %> </p>
				</div>
			<% else %>
				<embed src="<%= sheet.sheet_file %>" width="200px" height = "300px"> </embed>
			<% end %>
	<% end %>
	<p><%= link_to "Show all music_sheets(including pdf)","#", data: {:'reveal-id' => 'sheet_shown'}, :id => 'show_me' %> </p>
		
		
</div>

                       
       
<div>
         <div id="sheet_shown" class="reveal-modal medium" data-reveal>
              <%= render file: '/songs/show_sheet' %>
              <a class="close-reveal-modal">&#215;</a>
         </div>
</div>
