<script src='/assets/jquery.transit.min.js'></script>
<script src="/assets/toggle.js"></script>

<div>
	<div id="music_sheet" class='sheet'>
		<%= image_tag(@song.music_sheets.first.sheet_file) %>
	</div>
</div>
<div>
	<div id="music_sheet" class='sheet'>
		<%= image_tag(@song.asheet.url) %>
	</div>
</div>