
<div class="sheet_clicked">
	<% if asheet.sheet_file_content_type == "application/pdf" %>
		<embed src="<%= asheet.sheet_file %>" width="100%" height="100%"> </embed>
	<% else %>
		<%= image_tag(asheet.sheet_file) %>
	<% end %>
</div>


