
<% @song.music_sheets.each do |sheet| %>
<div class="sheet_clicked">
			<% if sheet.sheet_file_content_type == "application/pdf" %>
			<embed src="<%= sheet.sheet_file %>" width="100%" height="100%"> </embed>
			<% else %>
			<%= image_tag(sheet.sheet_file) %>
			<% end %>
	<% end %>
</div>
