<body class="body">
<script src='/assets/jquery.transit.min.js'></script>
<script src="/assets/toggle.js"></script>
<div>
	<%= image_tag(("Flute song demo 1.jpg"), id: "music_sheet", class: 'sheet') %>
</div>
</body>