h1 {
	margin: 0px;
	margin-top: 30px;
}
img {
	width: 200px;
	height: 300px;
	margin: 0px;
	margin-top: 50px;
	margin-left: 40px;

}

iframe {
	margin-top: 50px;
	margin-right: 0px;
	margin-left: 200px;

}

audio {
	width: 300px;
	height: 60px;
	margin-top: 25px;
	margin-left: 536px;
	padding-bottom: 10px;
}
.row {
	max-width: 99999px;
}
body {
	background-image: url(/images/music-wallpaper-colorful-abstract-wallpaper-music-picture-music-wallpaper.jpg);
	z-index: -100;
}
.body {
	width: 80%;
	height: 90%;
	background-color: rgba(173, 173, 0173, 0.6);
	border-radius:5%;
	margin-left: 20px;

}