h1 {
	margin: 0px;
	margin-top: 50px;
	/*padding-left: 650px;*/
	padding-top: 10px;
}
h2{
	margin: 0px;
	margin-top: 50px;
	padding-left: 500px;
	padding-top: 10px;
}
img {
	width: 200px;
	height: 300px;
	margin: 0px;
	margin-top: 50px;
	margin-left: 40px;

}

iframe {
	margin-top: 50px;
	margin-right: 0px;
	margin-left: 200px;

}

audio {
	width: 300px;
	height: 60px;
	margin-top: 25px;
	margin-left: 536px;
	padding-bottom: 10px;
}
.row {
	max-width: 99999px;
}
body {
	background-image: url(/images/music-wallpaper-colorful-abstract-wallpaper-music-picture-music-wallpaper.jpg);
	z-index: -100;
	background-size: cover;

}
.body {
	width: 90%;
	height: 100%;
	background-color: rgba(173, 173, 0173, 0.6);
	border-radius:10px;
	margin-left: 20px;
	margin-top: 50px;

}
textarea {
	width: 300px;
	margin-left: 600px;
	margin-top: 80px;
}
textarea[rows]{
	height: 50px;
}
ul {
	/*padding-left: 700px;*/
}

a{
	color: black;
}
button{
	margin-top: 40px;
	border-radius: 10px;
}

input {
	background-color: pink; 
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 700px;

}

.instrument_button {
	/*padding-left: 700px;*/
	border-radius: 10px;
}

label {
	color: black;
	font-weight: bold;
}

#admin_email{
	width: 300px;
}
#admin_password{
	width: 200px;


a.login{
	color: blue;
}

a.login:hover {
	color: green;
}