<h1> MusicApp </h1>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<ul>
<%= render @instruments %>
<%= button_to('Add instrument', new_instrument_path, method: :get) %>
</ul>