<div class='row'>
<div class="small-10 small-offset-2 columns">
<div class="try">
	<div class="row">	
		<div class="small-9 small-offset-4 columns">
		<h1> MusicApp </h1>
		</div>
	</div>	

		<div class="small-9 small-offset-5 colunms">
			<% if flash[:alert] %>
			    <div class="notice"><%= flash[:alert] %></div>
			  <% end %>
			
			
			
		</div>
	</div>
	<div class="row boxi">
			<%= render @instruments %>			
	</div>	
	<div class="row">
		<div class="small-2 small-offset-1 columns">
		<% if current_user && current_user.has_role?(:admin) %>
			<%= button_to('Add instrument', new_instrument_path, method: :get) %>
		<% end %>
		
		</div>	
	</div>			
</div>	
</div>
</div>

<embed src="/flash/clockdig.swf" width="160" height="40" play="true" 
loop="true" quality="high" > 
</embed> 
